{% extends 'base.html.twig' %}

{% block title %}Liste des produits de la catégorie {{ categories.name }}{% endblock %}

{% block body %}
    <main class="container">
        <section class="row justify-content-center">
            <div class="col-12 text-center">
                <h1>Liste des produits de la catégorie {{ categories.name }}</h1>
            </div>    
        </section>

        <section class="row justify-content-center">
            {% for product in products %}
                <div class="col-3 mb-3">
                    <article class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title text-center">{{ product.name }}</h2>
                            <p class="card-text">{{ product.description }}</p>
                            <div class="text-center">
                                <a href="{{ path('products_details', {"slug": product.slug} )}}" class="btn btn-primary btn-block">Voir les détails</a>
                            </div>
                        </div>
                    </article>
                </div>
            {% endfor %}
        </section>
    </main>
{% endblock %}
